<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


<!--    <bean id="webDataSource"-->
<!--          class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
<!--        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
<!--        <property name="url">-->
<!--            <value>jdbc:mysql://localhost:6033/web?createDatabaseIfNotExist=true&amp;autoReconnect=true&amp;useSSL=false</value>-->
<!--        </property>-->
<!--        <property name="username" value="db_user"/>-->
<!--        <property name="password" value="db_user_pass"/>-->
<!--    </bean>-->

    <bean id="webDataSource"
    class="org.apache.commons.dbcp.BasicDataSource"
    destroy-method="close"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}"
    />


    <context:property-placeholder location="classpath:jdbc.properties"/>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="webDataSource"/>
    </bean>

    <bean id="courseDAO"
          class="com.katapios.DAO.JdbcCourseDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>


</beans>